body {
  font-family: Arial, sans-serif;
  background-color: rgb(191, 223, 223);
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#results {
  margin-top: 20px;
}
.recipe {
  border: 1px solid #daa0a0;
  padding: 15px;
  margin-top: 15px;
  text-align: left;
}
.recipe img {
  max-width: 100%;
  height: auto;
}
